* {
    font-family: "Numans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

html {
	scroll-behavior: smooth;
}

#toptitle, #bigtitle, #fav, #toread, #cattitle, #quotitle, #sugtitle {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#pres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bigtitle {
    font-size: 60px;
}

#desc {
    font-size: 30px;
}

li {
    text-align: left;
    list-style-type: circle;
    font-size: 15px;
}

.navli {
    font-size: 15px;
}

.titlesbooks {
    text-decoration-line: underline;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    row-gap: 10vh;
}

.divprincipales {
    min-height: 100vh;
    min-width: 100vw;
}

#container1, #container2 {
    flex : 1 1 0px;
}

#slider1, #slider2 {
    width: 100%;
    height: 84%;
}

.carousel-inner {
    min-height: 100%;
    min-width: 100vw;
    height: 100%;
}

.item {
    height: 100%;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-wrap: nowrap;
}

.col-sm-8 {
    flex: 1 1 0px;
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.col-sm-4 {
    flex: 1 1 0px;
}

.col-sm-4 div h3 {
    text-align: right;
}

.col-sm-4 div ul {
    padding-left: 30%;
}

.col-sm-4 div ul li {
    padding-left: 20%;
    text-align: right;
}

.cover {
    max-height: 100%;
    width: 100%;
    flex: 0 0 0px;
    align-self: center;
}

#containerflexboxcat {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
}

#containerflexboxquotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cat {
    text-align: left;
    border-radius: 30px;
    padding-left: 15px;
    justify-content: center;
}

#cat1 {
    border: 5px solid rgb(0, 208, 255);
    background-color: #82fade;
    flex: 1 1 0px;
}

#cat2 {
    border: 5px solid chartreuse;
    background-color: #b7fe88;
    flex: 1 1 0px;
}

#cat3 {
    border: 5px solid rgb(255, 248, 45);
    background-color: #fffd8e;
    flex: 1 1 0px;
}

#cat4 {
    border: 5px solid rgb(255, 89, 0);
    background-color: #ffb16c;
    flex: 1 1 0px;
}

#container1 .carousel-inner .item:nth-child(1){
    background-color: #7e0201;
}
#container1 .carousel-inner .item:nth-child(2){
    background-color: #e099a9;
}
#container1 .carousel-inner .item:nth-child(3){
    background-color: #54808d;
}
#container1 .carousel-inner .item:nth-child(4){
    background-color: #6c3356;
}
#container1 .carousel-inner .item:nth-child(5){
    background-color: #fbd8a0;
}
#container1 .carousel-inner .item:nth-child(6){
    background-color: #c2b276;
}
#container1 .carousel-inner .item:nth-child(7){
    background-color: #e69536;
}

#container2 .carousel-inner .item:nth-child(1){
    background-color: #29313e;
}
#container2 .carousel-inner .item:nth-child(2){
    background-color: #88d8fb;
}
#container2 .carousel-inner .item:nth-child(3){
    background-color: #f6aa32;
}
#container2 .carousel-inner .item:nth-child(4){
    background-color: #403814;
}
#container2 .carousel-inner .item:nth-child(5){
    background-color: #b95949;
}

@keyframes quoteactive {
    0%   {background-color: rgb(227, 162, 255); border: 3px solid #6c3356;}
    50%  {background-color: #c8c8c8; border: 3px solid rgb(132, 131, 131);}
}

.quo {
    border: 3px solid rgb(132, 131, 131);
    background-color: #c8c8c8;
    font-size: 20px;
    width: 60%;
    padding: 10px;
}

#quo1 {
    animation-name: quoteactive;
    animation-duration: 8s;
    animation-iteration-count: infinite
}

#quo2 {
    animation-name: quoteactive;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: infinite
}

#quo3 {
    animation-name: quoteactive;
    animation-duration: 8s;
    animation-delay: 4s;
    animation-iteration-count: infinite
}

#quo4 {
    animation-name: quoteactive;
    animation-duration: 8s;
    animation-delay: 6s;
    animation-iteration-count: infinite
}

#back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 40px;
    width: 40px;
    padding-left: 5px;
    border: 5px outset rgb(0, 0, 0);
    background-color: #323232;
}

#arrow {
    color: white;
}

#suggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#suggInput {
    width: 80%;
}